@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: hsl(240deg 9% 15%);
    --secondary: hsl(240deg 9% 23%);
    --tertiary: hsl(240deg 10% 90%);
    --gray100: hsl(0deg 0% 63%);
    --gray200: hsl(0deg 0% 57%);
    --gray300: hsl(240deg 9% 32%);
    --purple: hsl(240deg 36% 52%);
    --purple300: hsl(240deg 36% 52% / 30%);
    --purple600: hsl(240deg 36% 52% / 60%);
    --aside-width: 326px;
  }

  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  * {
    margin: 0;
  }

  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  /* 5. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* 6. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* 7. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  /*
  9. Create a root stacking context
*/
  #root,
  #__next {
    isolation: isolate;
  }

  /*** COLOR INPUT ***/
  /* Source: https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */
  input[type="color" i] {
    --input-color-outer-radius: 4px;
    --input-color-padding: 1px;
    --input-color-inner-radius: calc(
      var(--input-color-outer-radius) - var(--input-color-padding)
    );
    border-radius: var(--input-color-outer-radius);
    inline-size: 1.25rem;
    block-size: 1.25rem;

    /* Can set padding between outer circle and color swatch for Firefox here;
   * it doesn't support a color-swarch-wrapper pseudoclass
   */
    padding: 0px;
  }

  input[type="color" i]::-webkit-color-swatch-wrapper {
    padding: var(--input-color-padding);
  }

  /* Affects the inner circle, i.e. the current color selection */
  input[type="color" i]::-webkit-color-swatch {
    border-radius: var(--input-color-inner-radius);
    border-color: transparent;
  }

  input[type="color" i]::-moz-color-swatch {
    border-radius: var(--input-color-inner-radius);
    border-color: transparent;
  }

  /*** RANGE INPUT ***/

  input[type="range"] {
    --input-range-height: calc(6 / 16 * 1rem);
    --input-size: calc(12 / 16 * 1rem);
    --input-range-progress: 0%;

    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 10rem;
  }

  /***** Track Styles *****/
  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(
      to right,
      var(--purple) var(--input-range-progress, 0%),
      var(--gray300) var(--input-range-progress, 0%)
    );
    height: var(--input-range-height);
    border-radius: 6px;
  }

  /******** Firefox ********/
  input[type="range"]::-moz-range-track {
    background: var(--gray300);
    height: var(--input-range-height);
    border-radius: 6px;
  }

  /***** Thumb Styles *****/
  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: calc(
      (var(--input-range-height) / 2) - (var(--input-size) / 2)
    ); /* Centers thumb on the track */
    background-color: var(--purple);
    height: var(--input-size);
    width: var(--input-size);
    border-radius: 9999px;
  }

  /***** Thumb Styles *****/
  /***** Firefox *****/
  input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
    background-color: var(--purple);
    height: var(--input-size);
    width: var(--input-size);
    border-radius: 9999px;
  }
}
